/.quarto/
.Rproj.user/B4D3FC2F/pcs/workbench-pane.pper
.Rproj.user/B4D3FC2F/sources/prop/D499FF43
.Rproj.user/B4D3FC2F/sources/session-e70e0df/4E02CC70
.Rproj.user/B4D3FC2F/sources/session-e70e0df/4E02CC70-contents
*.pper
*.pper
.Rproj.user/B4D3FC2F/sources/prop/5717B3C3
.Rproj.user/B4D3FC2F/sources/session-e70e0df/DDA9805F
.Rproj.user/B4D3FC2F/pcs/workbench-pane.pper
.Rproj.user/B4D3FC2F/sources/prop/5DB40759
.Rproj.user/B4D3FC2F/sources/prop/D499FF43
.Rproj.user/B4D3FC2F/sources/session-e70e0df/4E02CC70
.Rproj.user/B4D3FC2F/sources/session-e70e0df/4E02CC70-contents
.Rproj.user/B4D3FC2F/sources/session-e70e0df/DDA9805F
*.pper
